@font-face {
	font-family: "PT Sans";
	font-weight: 400;
	font-style: normal;
	src: url("../fonts/web/ptsans.woff") format("woff"),
	url("../fonts/web/ptsans.woff2") format("woff");
}

@font-face {
	font-family: "PT Sans";
	font-weight: 700;
	font-style: normal;
	src: url("../fonts/web/ptsansbold.woff2") format("woff2"),
	url("../fonts/web/ptsansbold.woff") format("woff");
}

body {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

h1 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

h2 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.conteiner {
	width: 1200px;
	margin: 0 auto;
	background-color: #fff;
}

/*								header 									*/

.main-nav {
	padding: 0;
	margin: 0;
	padding: 18px 72px;
	padding-bottom: 20px;
}

.main-nav li {
	display: inline-block;
	margin:0;
	margin-right: -2px;	
	margin-left: 0px;
	vertical-align: middle;
	text-align: center;
}

.main-nav li:first-child {
	margin-right: 148px;
}

.main-nav li:nth-child(1), .main-nav li:nth-child(2) {
	float: left;
}

.main-nav li:nth-child(4), .main-nav li:nth-child(5) {
	float: right;
}

.main-nav li:nth-child(4) {
	margin-right: 0px;
	margin-left: 167px;
}

.main-nav a {
	text-decoration: none;
	color: #000;
	font-weight: 700;
	line-height: 26px;
}

.main-nav a:hover {
	color: #81b3d2;
}

.main-nav a:active {
	color: #b2b2b2;
}

.main-nav li:nth-child(3) {
	position: relative;
}

.main-nav img {
	position: absolute;
	left: 123px;
	top: -26px;
}

/*									main 									*/

/*								index.html							*/

.welcome-img {
	width: 1200px;
	height: 509px;
	margin-bottom: 60px;
	background: #ddebf4 url(../img/Welcome.jpg) no-repeat 0 -55px;
}

.descriptive {
	width: 600px;
	margin: 0 auto;
	text-align: center;
}

.descriptive h1 {
	margin-bottom: 27px;
}

.descriptive p {
	font-size: 14px;
	line-height: 26px;
	margin-bottom: 50px;
}

.block-reason-img {
	width: 1200px;
	height: 256px;
	margin-bottom: 60px;
	background-color: #81b3d2;
	color: #fff;
}

.reason-description {
	width: 400px;
	text-align: center;
}

.town {
	float: left;
}

.bridge {
	float: right;
}

.text-block {
	width: 310px;
	margin: 0 auto;
	padding-top: 38px;
}

.text-block span {
	line-height: 34px;
}

.block-main-tips {
	width: 1200px;
	margin-bottom: 81px;
}

.main-tips {
	width: 300px;
	float: left;
	padding: 0 50px;
	text-align: center;
}

/*.main-tips img {
	display: block;
	width: auto;
	height: auto;
	margin: 0 auto;
}*/

.main-tips h2 {
	line-height: 21px;
	font-size: 21px;
	padding-top: 9px;
	padding-bottom: 7px;
}

.main-tips span {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.main-tips-icon {
	width: 74px;
	height: 76px;
	margin: 0 auto;
}

.home {
	background: url(../img/icon-house.png) no-repeat 0 1px;
}

.food {
	background: url("../img/icon-food.png") no-repeat 0 2px;

}

.souvenirs {
	background: url("../img/icon-souvenir.png") no-repeat 5px -2px;
}

.block-reason-text {
	width: 1200px;
	min-height: 255px;
	margin-top: -60px;
	margin-bottom: 55px;
	background-color: #eee;
}

.reason-text {
	float: left;
	width: 278px;
	padding: 35px 61px;
	text-align: center;
}

.reason-text:last-child {
	margin-right: 0;
}

.reason-text h2 {
	margin: 0;
	margin: 13px 0;
}

.reason-text span {
	line-height: 38px;
}

.date-travel {
	margin: 0 auto;
	margin-bottom: 47px;
	text-align: center;
}

.date-travel h2 {
	font-size: 30px;
	line-height: 26px;
	margin-bottom: 30px;
}

.date-travel p {
	line-height: 24px;
}

.search-hotel {
	width: 570px;
	margin: 0 auto;
}

.search-hotel .btn {
	position: relative;
	display: block;
	width: 570px;
	/*min-height: 85px;*/
	padding: 30px 0;
	color: #fff;
	text-decoration: none;
	text-align: center;
	line-height: 26px;
	font-size: 21px;
	font-weight: bold;
	background-color: #766357;
}

.search-hotel-form {
	position: absolute;
	width: 460px;
	height: 300px;
	padding: 55px;
	background-color: #fff;
}

.search-hotel-form input {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
	margin-bottom: 30px;
	border: none;
	background-color: #f2f2f2;
}

.search-hotel-form input[type="date"] {
	width: 315px;
}

.search-hotel-form input[type="number"] {
	width: 115px;
}

.btn-search {
	display: block;
	width: 100%;
	height: 58px;
	background-color: #81b3d2;
	color: #fff;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
	outline: none;
	border: none;
}

.btn-search:hover {
	background-color: #669ec0;
}

.btn-search:active {
	color: #88b6d1;
	background-color: #5496bd;
}

.map {
	width: 1200px;
	height: 473px;
	background: #f2f1ef url("../img/map.jpg") no-repeat;
}

/*						catalog.html 					*/

.block-filter {
	width: 1060px;
	height: 167px;
	padding: 25px 70px;
	background: url("../img/bg-filter.jpg") no-repeat center;
}

.checkbox-filter {
	width: 200px;
	float: left;
} 

.filter-cost {
	float: right;
}

.btn-filter {
	position: relative;
	top: 150px;
	left: 450px;	
	padding: 8px 30px;	
	color: #fff;
	border: 2px solid #fff;
	text-transform: uppercase;
	font-weight: bold;
	background-color: transparent;
}

.btn-filter:hover {
	background-color: #fff;
	color: #000;
}

.main-sort {
	padding: 0 70px;
}

.main-sort h2 {
	float: left;
	line-height: 26px;
	padding: 13px 0;
	margin-right: 10px;
}

.sort-menu {
	padding-top: 22px;
	float: left;
	width: 600px;
}

.sort-menu li {
	display: inline-block;
	margin-right: 29px;
	font-size: 12px;
	line-height: 18px;
	text-align: left;
}

.sort-menu li:first-child {
	margin-right: 36px;
}

.sort-menu li a {
	text-decoration: none;
	color: #b2b2b2;
	border-bottom: 1px dotted #81b3d2;
}

.sort-menu li a:hover {
	color: #81b3d2;
}

.sort-menu li a:active {
	color: #000;
	border: none;
}

.btn-arrow {
	float: right;
	width: 11px;
	height: 10px;
	margin-top: 40px;
	background: url("../img/btn-arrow.png") no-repeat center;
	border: none;
	font-size: 0;
	outline: none;
}

.btn-arrow-up {
	margin-right: 10px;
	background-position: 0 0;
}

.btn-arrow-up:hover {
	background-position: 0 -31px;
}

.btn-arrow-up:active {
	background-position: 0 -65px;
}

.btn-arrow-down {
	margin-right: 3px;
	background-position: -27px 0;
}

.btn-arrow-down:hover {
	background-position: -27px -31px;
}

.btn-arrow-down:active {
	background-position: -27px -65px;
}

article {
	height: 90px;
	min-height: 90px;
	padding: 30px 72px;
	border-top: 1px solid #e5e5e5;
}

article img {
	float: left;
	margin-right: 30px;
}

.content-description {
	float: left;
}

.name-place {
	display: block;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	font-size: 21px;
	font-family: "PT Sans";
	line-height: 18px;
}

.name-place:hover {
	color: #81b3d2;
}

.name-place:active {
	color: #b2b2b2;
}

.content-description span {
	display: inline-block;
	line-height: 21px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.block-more {
	float: left;
	margin-right: 6px;
}

.btn-more {
	position: relative;
	bottom: 0;
	left: 0;
	display: block;
	width: 110px;
	line-height: 26px;	
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-family: "PT Sans";
	background-color: #81b3d2;
}

.btn-more:hover {
	background-color: #669ec0;
}

.btn-more:active {
	background-color: #5496bd;
	color: #88b6d1;
}

.block-reservation { 
	float: right;
}

.btn-reservation {
	display: block;
	width: 140px;	
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-family: "PT Sans";
	line-height: 26px;
	background-color: #766357;
}

.btn-reservation:hover {
	background-color: #604e43;
}

.btn-reservation:active {
	background-color: #503e33;
	color: #857871;
}

.content-rating {
	position: relative;
	float: right;
	width: 150px;
	height: 90px;
}

.stars-rating {
	position: absolute;
	top: 0;
	right: 0;
	width: 89px;
	height: 17px;
	background: url(../img/stars.png) no-repeat;
}

.stars-rating-amara {
	background-position: 0 0;
}

.stars-rating-desert {
	background-position: 47px 0;
}

.stars-rating-villas {
	background-position: 24px 0;
}

.visual-rating {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 3px 12px;
	padding-left: 15px;
	background-color: #f2f2f2;
}

article:last-child {
	border-bottom: 1px solid #e5e5e5;
}

/*							footer 							*/

section {
	display: inline-block;
	width: 400px;
	height: 95px;
	margin-top: 25px;
	margin-right: -5px;
	text-align: center;
}

.footer-instagram a {
	text-decoration: none;
	color: #000;
	font-size: 21px;
	font-weight: bold;

}

.btn-social {
	display: inline-block;
	font-size: 0;
	width: 46px;
	height: 48px;
	vertical-align: middle;
	text-decoration: none;
	background: #81b3d2 url("../img/icon-social.png") no-repeat center;
}

.btn-social-tw {
	background-position: 0 0;
}

.btn-social-fb {
 background-position: -52px 0;
 margin: 0 2px;
}

.btn-social-yt {
 background-position: -104px 0;
}

.btn-social-tw:hover {
	background-position: 0 -56px;
}

.btn-social-fb:hover {
 background-position: -52px -56px;
}

.btn-social-yt:hover {
 background-position: -104px -56px;
}

.btn-social-tw:active {
	background-position: 0 -112px;
}

.btn-social-fb:active {
 background-position: -52px -112px;
}

.btn-social-yt:active {
 background-position: -104px -112px;
}

.footer-copyright a {
	position: relative;
	top: 15px;
	left: 5px;
	display: inline-block;
	width: 113px;
	height: 39px;
	background: url(../img/icon-copyright.png) no-repeat;
}

.footer-copyright a:hover {
	background-position: 0 -48px;
}

.footer-copyright a:active {
	background-position: 0 -95px;
}