@font-face {
	url: src(fonts/web/ptsans.woff);
}

body {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	font-family: "PTSans";
	text-transform: uppercase;
	background-color: #f2f2f2;
}

h1 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

h2 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.conteiner {
	width: 1200px;
	margin: 0 auto;
	background-color: #fff;
}

/*								header 									*/

.main-nav {
	padding: 0;
	margin: 0;
}

.main-nav li {
	display: inline-block;
	width: 240px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin:0;
	margin-right: -5px;	
	text-align: center;
}

.main-nav a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	line-height: 26px;
}

.main-nav li:nth-child(3) {
	position: relative;
}

.main-nav img {
	position: absolute;
	left: 53px;
	top: -2px;
}

/*									main 									*/

/*								index.html							*/

.welcome-img {
	width: 1200px;
	height: 509px;
	margin-bottom: 60px;
	background: #ddebf4 url(../img/Welcome.jpg) no-repeat 0 -55px;
}

.descriptive {
	width: 600px;
	margin: 0 auto;
	text-align: center;
}

.descriptive h1 {
	margin-bottom: 30px;
}

.descriptive p {
	font-size: 14px;
	line-height: 26px;
	margin-bottom: 50px;
}

.block-reason-img {
	width: 1200px;
	height: 256px;
	margin-bottom: 60px;
	background-color: #81b3d2;
	color: #fff;
}

.reason-description {
	width: 400px;
	text-align: center;
}

.town {
	float: left;
}

.bridge {
	float: right;
}

.text-block {
	width: 340px;
	margin: 0 auto;
	padding-top: 40px;
}

.text-block span {
	line-height: 40px;
}

.block-main-tips {
	width: 1200px;
	margin-bottom: 85px;
}

.main-tips {
	width: 330px;
	float: left;
	padding: 0 35px;
	text-align: center;
}

/*.main-tips img {
	display: block;
	width: auto;
	height: auto;
	margin: 0 auto;
}*/

.main-tips h2 {
	line-height: 21px;
	font-size: 21px;
	padding: 5px 0;
}

.main-tips span {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.main-tips-icon {
	width: 74px;
	height: 76px;
	margin: 0 auto;
}

.home {
	background: url(../img/icon-house.png) no-repeat;
}

.food {
	background: url("../img/icon-food.png") no-repeat;
}

.souvenirs {
	background: url("../img/icon-souvenir.png") no-repeat;
}

.block-reason-text {
	width: 1200px;
	min-height: 255px;
	margin-top: -60px;
	margin-bottom: 55px;
	background-color: #eee;
}

.reason-text {
	float: left;
	width: 300px;
	padding: 35px 50px;
	text-align: center;
	vertical-align: middle;
}

.reason-text span {
	line-height: 36px;
}

.date-travel {
	margin: 0 auto;
	margin-bottom: 50px;
	text-align: center;
}

.date-travel h2 {
	font-size: 30px;
	line-height: 26px;
	margin-bottom: 30px;
}

.date-travel p {
	line-height: 24px;
}

.search-hotel {
	width: 570px;
	margin: 0 auto;
}

.search-hotel .btn {
	position: relative;
	display: block;
	width: 570px;
	min-height: 85px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	line-height: 85px;
	font-size: 21px;
	font-weight: bold;
	background-color: #766357;
}

.search-hotel-form {
	position: absolute;
	width: 460px;
	height: 300px;
	padding: 55px;
	background-color: #fff;
}

.search-hotel-form input {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
	margin-bottom: 30px;
	border: none;
	background-color: #f2f2f2;
}

.search-hotel-form input[type="date"] {
	width: 315px;
}

.search-hotel-form input[type="number"] {
	width: 115px;
}

.btn-search {
	display: block;
	width: 100%;
	height: 58px;
	background-color: #81b3d2;
	color: #fff;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
}

.btn-search:hover {
	background-color: #669ec0;
}

.btn-search:active {
	color: #88b6d1;
	background-color: #5496bd;
}

.map {
	width: 1200px;
	height: 470px;
	background: #f2f1ef url("../img/map.jpg") no-repeat;
}

/*						catalog.html 					*/

.block-filter {
	padding: 25px 72px;
	background-color: red;
}

.checkbox-filter {
	width: 200px;
	height: 200px;
	float: left;
	background-color: #0f0;
} 

.filter-cost {
	float: right;
}

.btn-filter {
	position: relative;
	top: 150px;
	left: 450px;	
	padding: 8px 30px;	
	color: #fff;
	border: 2px solid #fff;
	text-transform: uppercase;
	font-weight: bold;
	background-color: transparent;
}

.main-sort {
	padding: 25px 70px;
}

.main-sort ul li {
	display: inline-block;
}

article {
	height: 90px;
	min-height: 90px;
	padding: 30px 72px;
	border-top: 1px solid #e5e5e5;
}

article img {
	float: left;
	margin-right: 30px;
}

.content-description {
	float: left;
}

.content-description h2 {
	font-size: 21px;
}

.content-description span {
	line-height: ;
}

.block-more {
	float: left;
}

.btn-more {
	display: block;
	width: 110px;
	padding: 5px 0;	
	
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-weight: bold;
	background-color: #81b3d2;
}

.block-reservation {
	float: right;
}

.btn-reservation {
	display: block;
	width: 140px;
	padding: 5px 0;	
	margin-right: 5px;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-weight: bold;
	background-color: #766357;
}

.content-rating {
	float: right;
}

article:last-child {
	border-bottom: 1px solid #e5e5e5;
}

/*							footer 							*/

section {
	display: inline-block;
	width: 400px;
	margin-right: -5px;
	text-align: center;
	line-height: 120px;
}

.footer-instagram a {
	text-decoration: none;
	color: #000;
	font-size: 21px;
	font-weight: bold;

}

.btn-social {
	display: inline-block;
	font-size: 0;
	width: 46px;
	height: 48px;
	vertical-align: middle;
	margin: 0 2px;
	text-decoration: none;
	background: #81b3d2 url("../img/icon-social.png") no-repeat center;
}

.btn-social-tw {
	background-position: 0 0;
}

.btn-social-fb {
 background-position: -52px 0;
}

.btn-social-yt {
 background-position: -104px 0;
}

.btn-social-tw:hover {
	background-position: 0 -56px;
}

.btn-social-fb:hover {
 background-position: -52px -56px;
}

.btn-social-yt:hover {
 background-position: -104px -56px;
}

.btn-social-tw:active {
	background-position: 0 -112px;
}

.btn-social-fb:active {
 background-position: -52px -112px;
}

.btn-social-yt:active {
 background-position: -104px -112px;
}

.footer-copyright a {
	position: relative;
	top: 15px;
	display: inline-block;
	width: 113px;
	height: 39px;
	background: url(../img/icon-copyright.png) no-repeat;
}

.footer-copyright a:hover {
	background-position: 0 -48px;
}

.footer-copyright a:active {
	background-position: 0 -95px;
}